.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
  }

  .searchHeader {
    position: absolute;
    top: 35px;
    left: 32px;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
  }
  
  .cancelIcon {
    position: absolute;
    top: 42px;
    right: 30px;
    cursor: pointer;
  }

  
  .searchContainer {
    position: relative;
    margin-top: -455px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .searchIcon {
    position: absolute;
    left: 14px;
    top: 43.5%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    color: #262626;
    pointer-events: none;
  }

  .searchInput {
    width: 100%;
    padding: 8px 8px 8px 40px;
    border: 2px solid #262626;
    border-radius: 5px;
    font-family: "Roboto", Arial, sans-serif;
    color: #262626;
  }
  
  .searchInput::placeholder {
    color: #262626;
  }
  
  .searchInput:focus {
    outline: none;
    box-shadow: none;
    border-color: inherit;
  }


  .closeButton {
    position: absolute;
    right: 49px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 9px;
    background-color: rgb(116, 116, 116);
    color: white;
    font-family: "Roboto", Arial, sans-serif;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .closeButton:hover {
    background-color: rgb(167, 167, 167);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
  }

  .forwardButton {
    position: absolute;
    right: 2px;
    top: 50.15%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .forwardButton:hover {
    background-color: #3d37bd;
  }
  
  .forwardButton:hover svg path {
    stroke: white;
  }
  