/* styles/components/Navbar.css */

.navbar {
    /* background-color: purple; */
    padding: 1rem; /* Equivalent to p-4 */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .depop-logo {
    margin-left: 13px;
  }
  
  .navbar-buttons {
    display: flex;
    gap: 0.5rem;
  }

  .bag-icon {
    margin-left: 8px;
  }
  
  .search-bar {
    top: -20px;
    position: relative;
  }

  
  .button {
    color: white;
    padding: 4px 14px;
    border: 2px solid #262626;
    cursor: pointer;
    font-weight: 900;
    font-size: 20px;
    font-family: "GT America Expanded"
  }

  .button:focus {
    box-shadow: rgb(255, 218, 10) 0px 0px 0px 4px;
    outline: transparent dotted 4px;
  }

  .sell-now-btn {
    background-color: #262626;
  }
  
  .sell-now-btn:hover {
    background-color: #747474;
    border-color: #747474;
  }
  
  .sign-up-btn {
    color: #262626;
  }
  
  .sign-up-btn:hover {
    background-color: rgba(38, 38, 38, 0.2);
    border-color: #747474;
  }
  
  .navbar-controls {
    display: flex;
    align-items: center;
    margin-right: 20px;
    gap: 1rem;
  }
  
  .log-in-btn {
    color: #262626;
    padding: 4px 0px;
    border: none;
  }

  .log-in-btn:hover {
    cursor: pointer;
  }