.inputContainer {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  border-radius: 1.3rem; /* top-left, top-right, bottom-right, bottom-left */
  z-index: 10;
  overflow: hidden;
}

.inputWrapper {
  position: relative;
  width: 100%;
  padding: 0rem 0.2rem 0.5rem 0.2rem;  /* top, right, bottom, left */
}

.searchIcon {
  position: absolute;
  left: 17px;
  top: 41%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.inputField {
  color: #262626;
  font-size: 15.5px;
  padding: 0.4rem 0.5rem 0.4rem 2.4rem;
  border: 2px solid #262626;
  background-color: #f3f3f3;
  /* font-family: "Public Sans", sans-serif; */
  /* font-family: "Libre Franklin", sans-serif; */
  font-family: "Roboto", Arial, sans-serif;
  border-radius: 1.3rem;
  outline: none;
  width: 100%;
}

.inputField::placeholder {
  color: #262626;
}
 
.active {
  background-color: #f3f3f3;
  box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.3);
}

.suggestionsList {
  width: 100%;
  background-color: #f3f3f3;
  /* background-color: red; */
  color: #262626;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 0 0 1.3rem 1.3rem;
  overflow: hidden;
}

.suggestionsList li {
  padding: 0.3rem;
  padding-left: 1.2rem;
  cursor: pointer;
  /* font-family: "Public Sans", sans-serif; */
  /* font-family: "Libre Franklin", sans-serif; */
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.suggestionsList li:hover {
  background-color: #3D37BD;
  color: white;
}

.suggestionsList li:last-child {
  padding-bottom: 10px;
}

.suggestionsList li:last-child:hover {
  color: white;
  border-radius: 0 0 1.3rem 1.3rem;
}

.category-text {
  color: #3D37BD;
  margin-left: 4.5px;
}

.suggestionsList li:hover .category-text {
  color: white; 
}

.trendingTitle {
  margin-top: 10px;
  margin-bottom: 1px;
  font-weight: bold !important; 
  font-family: "Arial", sans-serif;
}

.trendingTitle:hover {
  cursor: default; 
  background-color: transparent !important;
  color: inherit !important;
}