.sideMenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 22rem;   
    background-color: white; 
    color: black;
    padding: 1.5rem;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out;
  }
  
  .sideMenu.open {
    transform: translateX(0);
  }

  .logoContainer:hover {
    cursor: pointer;
  }

  .closeButton {
    position: absolute;
    top: 1.2rem;
    right: 1rem;  /* Move the close button to the right */
    background: none;
    border: none;
    cursor: pointer;
}

.closeButton:hover {
  color: rgb(116, 116, 116);
}

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  
  .menuList {
    list-style: none;
    padding: 0;
  }
  
  .menuItem {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 0.5rem;
    transition: background 0.2s;
  }
  
  .menuItem:hover {
    background: rgba(0, 0, 0, 0.05);
  }
